
#hotbar {
    display: flex;
    box-sizing: border-box;
  
    gap: 10px;
  
    width: var(--view-width);
    height: var(--hotbar-height);
  
    box-shadow: 0 0 0 2px #403e52e1, 0 0 0 6px #1f1f1f, 0 0 14px 3px #000000;
  
    border-radius: 10px;
  
    margin-top: 10px;
    padding: 10px;
  
    background: linear-gradient(45deg, rgba(0,0,0,1) 50%, rgb(27, 32, 110) 93%, rgb(184, 184, 184) 100%);
  }
  
  .inventory-slot {
    display: flex;
    box-sizing: border-box;
  
    justify-content: center;
    align-items: center;
  
    flex: 1;
  
    border-radius: 5px;
  
    background: linear-gradient(45deg, rgba(177, 14, 252, 0.4) 0%, rgba(0,0,0,1) 60%, rgba(104, 119, 252, 0.692) 100%);
  
    border: solid 2px rgba(184, 70, 136, 0.5);
  }
  
  .item {
    position: absolute;
  
    width: 100px;
  
    user-select: none;
  }
  
  /* when an item is in your inventory */
  .inventory-slot > .item {
    position: unset;
  
    width: 80%;
  }