
@import url("../../css/game.css");

.door {
  position: absolute;
}


#lockedDoor {
  height: 130px;

  border: 4px solid black;
}


.shut {
  background-color: brown;
  width: 80px;
}

.shut .doorHandle {
  position: absolute;
  background-color: yellow;
  width: 10px;
  height: 5px;

  top: 50%;
  left: calc(100% - 10px);
}


.open {
  background-color: rgb(65, 24, 24);
  width: 160px;
}

.open::after {
  content: "DUDD";
  color: white;
  position: absolute;
  top: 5px;
  left: 5px;
}

.open .doorHandle {
  position: absolute;
  background-color: black;
  width: 5px;
  height: 100%;
  left: 50%;
  top: 0%;
}


#switchboard {
  background-color: blue;
  width: 400px;
  position: absolute;
}

#switchboard > div {
  display: flex;
  gap: 10px;
  padding: 10px;
}

#switchboard > h2 {
  color: aliceblue;
  user-select: none;
}

.switchboardSlot {
  background-color: aqua;

  box-sizing:border-box;
  border: 30px solid blue;
  width: 80px;
  height: 80px;
  position: unset;

  display: flex;
  align-items: center;
  justify-content: center;
}

.switchboardSlot > .item {
  cursor: pointer;
  width: 80px;
}
